body {
    font-size: 20px;
    font-family: monospace;
    margin: 0;
    padding: 0;
    color: lightgrey;
    background-image: linear-gradient(#090950, #281D4B);
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: stretch;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 1920px;
}
header {
    background-color: #281D4B;
}
footer {
    background-color: #090950;
    p, h2, div {
        padding: 2px 5px;
    }
}
.base {
    display: flex;
    padding: 1rem 2rem;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    p {
        margin: 0;
    }
    h2 {
        margin: 0;
    }
}
a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    margin: 0;
}
a:hover {
    text-decoration: underline;
}
.proj {
    display: grid;
    grid-template-columns: 9.3fr 1fr;
    justify-content: space-between;
    text-align: left;
}
.rest {
    display: grid;
    grid-template-columns: 1fr;
    line-height: 1.6rem;
    text-align: left;
}
.split {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.boxes {
    border: 2px solid lightgrey;
    background-color: rgba(100, 100, 100, 0.1);
    margin: 1rem;
    padding: 5px 10px;
    border-radius: 10px;
    align-content: space-between;
}
.hobbies {
    align-content: normal;
}
@media only screen and (max-width: 900px) {
    footer, header {
        flex-direction: column;
        line-height: 2rem;
    }
    .boxes {
        grid-column: span 2;
    }
    .title {
        grid-column: span 2;
    }
}
.large {
    grid-column: span 2;
}
.view {
    grid-row: span 2;
    text-align: end;
}
.right {
    text-align: right;
}
.right2 {
    float: right;
    margin: 0 0 0 10px;
}
ul {
    margin: 2px;
    padding: 0 20px;
}
h3 {
    margin: 0;
}
